<header>
    <div class="container max-w-6xl mx-auto px-5">
    </div>
</header>
<section class="info">
    <!-- <div class="container max-w-6xl mx-auto px-5">
        <ul class="flex justify-end space-x-8 py-5">
            <li><a href="">Works</a></li>
            <li><a href="">Blog</a></li>
            <li><a href="">Contact</a></li>
        </ul>
    </div> -->
    <app-header></app-header>
</section>
<section>
    <div class="container max-w-6xl mx-auto px-5">
        <h2 class="text=[#21243D] text-4xl">Work</h2>
    </div>
</section>
<section>
    <div class="container max-w-6xl mx-auto px-5">
        
        <div class="grid md:grid-cols-[246px,auto] grap-8 border-b py-8">
            <div>
                <img src="./img/Rectangle 32.jpg" class="w-full rounded-lg" alt="">
            </div>
            <div class="pl-4">
                <h3><a href="" class="text-[#21243D] text[30px] font-bold">Designing Dashboards</a></h3>
                <div class="flex space-x-4 item-center py-5">
                    <span class="inline-block bg-[#142850] py-1 px-2 font-blod text-white rounded-full">2020  </span>
                    <span class="text-[8695A4]">Dashboard</span>
                </div>
                <p class="text-[#21243D]">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </div>
        </div>
        <!--  -->
        <div class="grid md:grid-cols-[246px,auto] grap-8 border-b py-8">
            <div>
                <img src="./img/Rectangle 32.jpg" class="rounded-lg w-full" alt="">
            </div>
            <div class="pl-4">
                <h3><a href="" class="text-[#21243D] text[30px] font-bold">Designing Dashboards</a></h3>
                <div class="flex space-x-4 item-center py-5">
                    <span class="inline-block bg-[#142850] py-1 px-2 font-blod text-white rounded-full">2020  </span>
                    <span class="text-[8695A4]">Dashboard</span>
                </div>
                <p class="text-[#21243D]">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </div>
        </div>
        <!--  -->
        <div class="grid md:grid-cols-[246px,auto] grap-8 border-b py-8">
            <div>
                <img src="./img/Rectangle 32.jpg" class="rounded-lg w-full" alt="">
            </div>
            <div class="pl-4">
                <h3><a href="" class="text-[#21243D] text[30px] font-bold">Designing Dashboards</a></h3>
                <div class="flex space-x-4 item-center py-5">
                    <span class="inline-block bg-[#142850] py-1 px-2 font-blod text-white rounded-full">2020  </span>
                    <span class="text-[8695A4]">Dashboard</span>
                </div>
                <p class="text-[#21243D]">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>
