
    <header>
        <div class="container max-w-6xl mx-auto px-5">
        </div>
    </header>
    <section class="info">
        <app-header></app-header>
        <!-- <div class="container max-w-6xl mx-auto px-5">
            <ul class="flex justify-end space-x-8 py-5">
                <li><a href="">Works</a></li>
                <li><a href="">Blog</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </div> -->
    </section>
    <section>
        <div class="container max-w-6xl mx-auto px-5">
            <h2 class="text=[#21243D] text-4xl">Blog</h2>
        </div>
    </section>
    <section>
        <div class="container max-w-6xl mx-auto px-5">
            <div class=" grap-8 border-b py-8">
                <div class="bg-white px-5 py-8 ">
                    <h3 class="mb-5">
                        <a href="" class="text-2xl font-bold">Making a design system from scratch</a>
                    </h3>
                    <div class="flex space-x-4 text=[#21243D] mb-5">
                        <span>12 Feb 2020</span>
                        <span> | </span>
                        <span>Design, Pattern</span>
                    </div>
                    <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                </div>

            </div>
            <div class=" grap-8 border-b py-8">
                <div class="bg-white px-5 py-8 ">
                    <h3 class="mb-5">
                        <a href="" class="text-2xl font-bold">Making a design system from scratch</a>
                    </h3>
                    <div class="flex space-x-4 text=[#21243D] mb-5">
                        <span>12 Feb 2020</span>
                        <span> | </span>
                        <span>Design, Pattern</span>
                    </div>
                    <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                </div>

            </div>
            <div class=" grap-8 border-b py-8">
                <div class="bg-white px-5 py-8 ">
                    <h3 class="mb-5">
                        <a href="" class="text-2xl font-bold">Making a design system from scratch</a>
                    </h3>
                    <div class="flex space-x-4 text=[#21243D] mb-5">
                        <span>12 Feb 2020</span>
                        <span> | </span>
                        <span>Design, Pattern</span>
                    </div>
                    <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                </div>

            </div>
            <div class=" grap-8 border-b py-8">
                <div class="bg-white px-5 py-8 ">
                    <h3 class="mb-5">
                        <a href="" class="text-2xl font-bold">Making a design system from scratch</a>
                    </h3>
                    <div class="flex space-x-4 text=[#21243D] mb-5">
                        <span>12 Feb 2020</span>
                        <span> | </span>
                        <span>Design, Pattern</span>
                    </div>
                    <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                </div>

            </div>
        </div>
    </section>
    <app-footer></app-footer>

