<body>
    <header>
        <div class="container max-w-6xl mx-auto px-5">
            
        </div>
    </header>
    <section class="info">
        <app-header></app-header>
        
    </section>
    <section class="recent-posts">
        <div class="container max-w-6xl mx-auto px-5">
            <div class="grid md:grid-cols-3">
                <div class="cols-span-2 order-2 md:order-1">
                    <h2 class="text-2xl md:text-4xl font-bold md:leading-[60px]">Hi, I am John,<br>
                        Creative Technologist
                    </h2>
                    <p class="text-base my-5">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                    <a href="" class="inline-block bg-red-500 py-3 px-10 rounded-sm text-white mb-16">Download Resume</a>
                </div>
                <div class="cols-span-1 order-1 md:order-2">
                    <img src="./img/Ellipse 1.jpg" alt="" class="rounded-full mx-auto md:ml-auto ">
                </div>
            </div>
        </div>
    </section>
    <section class="featured-works bg-[#EDF7FA] py-10">
        <div class="container max-w-6xl mx-auto px-5">
            <div class="flex justify-between py-5">
                <h2 class="text-xl">Recent posts</h2>
                <a href="" class="text-[#00A8CC]">View all</a>
            </div>
            <div class="grid md:grid-cols-2 grap-8">
                <div class="bg-white px-5 py-8 ">
                    <h3 class="mb-5">
                        <a href="" class="text-2xl font-bold">Making a design system from scratch</a>
                    </h3>
                    <div class="flex space-x-4 text=[#21243D] mb-5">
                        <span>12 Feb 2020</span>
                        <span> | </span>
                        <span>Design, Pattern</span>
                    </div>
                    <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                </div>

                <div class="bg-white px-5 py-8">
                    <h3 class="mb-5">   
                        <a href="" class="text-2xl font-bold">Making a design system from scratch</a>
                    </h3>
                    <div class="flex space-x-4 text=[#21243D] mb-5">
                        <span>12 Feb 2020</span>
                        <span> | </span>
                        <span>Design, Pattern</span>
                    </div>
                    <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                </div>
            </div>
            
        </div>
    </section>
    <section>
        <div class="container max-w-6xl mx-auto px-5">
            <div class="flex justify-between py-5">
                <h2 class="text-xl">Featured works</h2>
            </div>
            <div class="grid md:grid-cols-[246px,auto] grap-8 border-b py-8">
                <div>
                    <img src="./img/Rectangle 32.jpg" class="w-full rounded-lg" alt="">
                </div>
                <div class="pl-4">
                    <h3><a href="" class="text-[#21243D] text[30px] font-bold">Designing Dashboards</a></h3>
                    <div class="flex space-x-4 item-center py-5">
                        <span class="inline-block bg-[#142850] py-1 px-2 font-blod text-white rounded-full">2020  </span>
                        <span class="text-[8695A4]">Dashboard</span>
                    </div>
                    <p class="text-[#21243D]">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                </div>
            </div>
            <!--  -->
            <div class="grid md:grid-cols-[246px,auto] grap-8 border-b py-8">
                <div>
                    <img src="./img/Rectangle 32.jpg" class="rounded-lg w-full" alt="">
                </div>
                <div class="pl-4">
                    <h3><a href="" class="text-[#21243D] text[30px] font-bold">Designing Dashboards</a></h3>
                    <div class="flex space-x-4 item-center py-5">
                        <span class="inline-block bg-[#142850] py-1 px-2 font-blod text-white rounded-full">2020  </span>
                        <span class="text-[8695A4]">Dashboard</span>
                    </div>
                    <p class="text-[#21243D]">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                </div>
            </div>
            <!--  -->
            <div class="grid md:grid-cols-[246px,auto] grap-8 border-b py-8">
                <div>
                    <img src="./img/Rectangle 32.jpg" class="rounded-lg w-full" alt="">
                </div>
                <div class="pl-4">
                    <h3><a href="" class="text-[#21243D] text[30px] font-bold">Designing Dashboards</a></h3>
                    <div class="flex space-x-4 item-center py-5">
                        <span class="inline-block bg-[#142850] py-1 px-2 font-blod text-white rounded-full">2020  </span>
                        <span class="text-[8695A4]">Dashboard</span>
                    </div>
                    <p class="text-[#21243D]">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                </div>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</body>
